language: node_js
node_js:
  - 8
  - 9
  - 10
matrix:
  fast_finish: true
services:
  - mongodb
sudo: false
addons:
  apt:
    sources:
    - mongodb-upstart
    packages:
    - mongodb-org-server
    - mongodb-org-shell
before_script:
  - mongo --version
  - mongod --version
  - 'if [ "$AGENDA_VERSION" ]; then yarn add agenda@$AGENDA_VERSION; fi'
  - 'until nc -z 127.0.0.1 27017 ; do echo Waiting for MongoDB; sleep 1; done'
env:
  - AGENDA_VERSION=^2.0.0
