:root{
  --secondary: #ffffff;
  --primary: #2b2b2b;
  --warning: rgb(255, 94, 0);
  --pill-own-time: #00b7ff;
}
* {
   font-family: 'Roboto', sans-serif;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  overflow-y: scroll;
}
.topbar {
  height: 250px;
}
.joblist {
  overflow-y: scroll;
}

.table-headers, .table-row {
  display: flex;
  justify-content: space-between;
}

.popupmessage{
  width: 60vw;
  position: absolute;
  top: 10px;
  right: 10px;
}

.action-btn{
  margin: 0px;
  padding: 1px 2px;
}
.action-btn:hover{
  color: var(--warning-secondary);
}
.oi{
  top:0px !important;
}
.pill-own {
  padding: 3px 3px;
  font-size: 11px;
  color: var(--secondary);
  border-radius: 2px;
}
.pill-own span {
  line-height: 15px;
  font-size: 11px;
  font-style: normal;
}

